body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.logo a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.logo {
  color: #000;
  display: flex;
  align-items: center;
  padding-bottom: 12px;  
}

.logo-img {
  width: 50px;
  height: 50px;
  transform: translate(0, 0.5em);
  margin-right: 12px;
}

.navbar {
  padding: 12px 24px;
}

hr {
  margin-top: 14px;
  border: none;
  border-bottom: 1px solid rgb(223, 223, 223);
}
